.DS_Store
.gradle/
.settings/
.idea/
build/
caches/
daemon/
jdsk/
native/
wrapper/
notifications/

.gradle
build
lcfgResult
assembledArtifacts
deployableArtifacts
.classpath
.project
**/*.swp
_build
**/bin
**/.DS_Store
appVersion.properties
**/WebContent/f5.jsp
**/WebContent/healthcheck.jsp
**/WebContent/healthcheck.xsl
.jfrog/
/.vscode/
out
**/resources/application-localdev.yml
**/.gradle/
**/*.bin
**/*.lock
